/* div.container{
  display: flex;
}
div.joueur{
  height: 600px;
  width: 50%;
  background-color: aquamarine;
}
*/
body{
  font-family: 'Lato', sans-serif;
}
.centrale{
  position: absolute;
  top: 40px; left: 40px;

} 
.bi{
color: red;
}
.reset{
  padding-top: 30px;
}

  .container,p {
    display:block; 
    text-align: center;
    
  }
  .joueur,.score{
    font-size: 2REM;
  }
  
.flex{
  display: flex;
}
