/* div.container{
  display: flex;
}
div.joueur{
  height: 600px;
  width: 50%;
  background-color: aquamarine;
}
*/
body{
  font-family: 'Lato', sans-serif;
}
.centrale{
  position: absolute;
  display: block;
  top: 50%; left: 50%;
  transform: translate(-50%,-190%);
 

} 
.centrale .espace {
padding: 20px;
text-align: center;


}
.bi{
color: red;
}
.reset{
  padding-top: 30px;
}

  .container,p {
    display:block; 
    text-align: center;
    
    
    
  }
  .container{
    border: solid  black;
  }
  .joueur,.score{
    font-size: 4REM;
  }
  
.flex{
  display: flex;
}

.Globalj2,.Globalj1{
  margin-top: 80%;
}